@tailwind base;
@tailwind components;
@tailwind utilities;

.available {
    background-color: #d2ffd2; /* Green for available seats */
  }
  
  .booked {
    background-color: #f2a2a2; /* Red for booked seats */
    cursor: not-allowed;
  }
  
  .reserved-pwd {
    background-color: #a2d8f2; /* Blue for PWD reserved seats */
    cursor: not-allowed;
  }
  